<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <title>register</title>
</head>
<body>
    <!-- make add home page -->
    <header class="flex justify-between p-5 bg-gray-50">
        <a href="/add-home">Add home</a>
        <a href="/">Go to Home</a>
    </header>
    <h1 class="my-0 mx-auto p-10 bg-blue-700 flex justify-center text-white ">
        Add Home
    </h1>
    <form action="/add-home" method="post" class="flex justify-center">
        <input type="text" placeholder="Home name">
        <button type="submit">Submit</button>
    </form>

</body>
</html>