<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Added</title>
    <link rel="stylesheet" href="../css/output.css">
</head>
<body>
    <header class="flex justify-between p-5 bg-gray-50">
        <a href="">Add home</a>
        <a href="">Go to Home</a>
    </header>
    <h1 class="my-0 mx-auto p-10 bg-blue-700 flex justify-center text-white ">
        Home Added
    </h1>

</body>
</html>