<header class="flex justify-between p-5 bg-gray-50">
    <a class="<%= curr=='add-home' ? 'text-blue bg-orange-900' : '' %>" href="/add-home">Add home</a>
    <a class="<%= curr=='home' ? 'text-blue bg-orange-500' : '' %>" href="/">Go to Home</a>
</header>
